<p>angular-footer works!</p>

<mat-card>  
    <mat-card-footer>
<div class="grid-flex-container">
    <div class="grid-image">

    </div>
    <div class="grid-content-item">
        <a href="">About us</a>
        <a href="">Web Design</a>
        <a href="">Development</a>
    </div>
    <div class="grid-content-item">
        <a href="">Company</a>
        <a href="">Team</a>
        <a href="">Legacy</a>
    </div>
    <div class="grid-content-item"></div>

</div>
      </mat-card-footer>
  </mat-card>