<mat-card>
  <mat-card-footer>
    <div class="grid-flex-container">
      <div class="grid-image"></div>
      <div class="grid-content-item">
        <h1>Discover Botsapi</h1>
        <a href="">About us</a>
        <a href="">Web Design</a>
        <a href="">Development</a>
        <a href="">Expertise</a>
        <a href="">Senior </a>
        <a href="">Legacy </a>
      </div>
      <div class="grid-content-item">
        <h1>Resources</h1>
        <a href="">Blog</a>
        <a href="">Case Studies</a>
        <a href="">Software Development Insights</a>
      </div>
      <div class="grid-content-item">
        <h1>Careers</h1>
        <a href="">Job Opportunities</a>
        <a href="">Talent Referrals</a>
      </div>
      <div class="grid-content-item contact-us">
        <h1>Get in touch.</h1>
        <div class="flex">
          <button class="largeText">Contact Us</button>
          <button class="primary largeText">
            Schedule a Call
            <mat-icon style="margin-left: 0.5rem">arrow_forward</mat-icon>
          </button>
        </div>

        <p style="margin-top: 4rem;font-size: 16px;
        font-weight: 700;">
          Get insights from the experts on building and <br>
           scaling technology teams.
        </p>
        <p>Your e-mail address</p>
        <div class="flex">
          <input
            type="text"
            class="email"
            placeholder="name@email.com"
          /><button>
            Subscribe <mat-icon style="margin-left: 0.5rem">email</mat-icon>
          </button>
        </div>
        <h1 style="margin-top: 4rem;">Follow us.</h1>
        <div>
          <i class="fab fa-facebook icon"></i>
          <i class="fab fa-twitter icon"></i>
          <i class="fab fa-youtube icon"></i>
          <i class="fab fa-linkedin icon"></i>
          <i class="fab fa-instagram icon"></i>
        </div>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
