body {
  margin: 0;
  padding: 0;
}


.content {
  font-size: 18px;
}

.content img {
  width: 50px;
  height: 60px;
}

.content div {
  display: inline-block;
  width: 30%;
  margin: 20px;
  box-sizing: border-box;
}

.scrolling-text-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  animation: scrolling 20s linear infinite;
}

.scrolling-text {
  margin-right: 15px;
  display: inline-block;
  transition: color 0.3s ease;
  color: lightgray;
  font-size: 50px;
  padding: 1rem;
}

.scrolling-text:hover {
  color: orange;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}

// .container img {
//   margin-right: 5px;
//   width: 50px;
//   height: 60px;
// }

.container div {
  display: inline-block;
  width: 35%;
  margin: 25px;
  box-sizing: border-box;
  padding-block: 10px;
}

.full-stack-heading{
  font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
}
.expertise{
  padding-left: 9rem;
    padding-right: 9rem;
}

.subheading h2{
  font-size: 1.875rem;
    line-height: 2.375rem;
    width: 50%;
    margin-top: 0.5rem;
}

.subheading p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tech-stack{
  text-align: center;
    margin-top: 5rem;

    & h1{
      font-size: 3rem;
    font-weight: 500;
    line-height: 3.75rem;
    }
    & p{
      font-size: 1.25rem;
    line-height: 1.875rem;
    }
}

.working-with-us{
  margin-top: 5rem;
  text-align: center;

  & h1{
  font-weight: 500;
    font-size: 3rem;
  line-height: 3.75rem;
  }
}
