<!-- <div class="container"> -->

<img
  *ngIf="!isMobile"
  src="../../assets/Home page.avif"
  class="home-page img-fluid"
  alt="Home Page"
/>
<div [ngClass]="{ desktop: !isMobile, contentCenter: true }">
  <div class="mainText">
    Accelerate Your Roadmap With Our Vetted <br /><span style="color: coral"
      >Nearshore Tech Talent.</span
    >
  </div>
  <div class="secondaryText">
    Access 4,000+ timezone aligned software engineers<br />
    with experience in 100+ technologies.
  </div>
  <button type="button" class="btn btn-primary callschedule">
    Schedule a Call
  </button>
</div>
<app-detail></app-detail>
<!-- </div> -->
