<div class="container">
  <mat-toolbar>
    <img src="assets/Logo.png" alt="BotsApi" class="logo" />

    <span class="side-link">
      <button mat-button>Services</button>
      <button mat-button>Our Clients</button>
      <button mat-button>About Us</button>

      <button mat-button>Blog</button>
      <button mat-button>Carrers</button>
      <button mat-button class="call-shedule">Shedule a call</button>
    </span>
  </mat-toolbar>
  <img src="../../assets/Home page.avif" class="home-page" />
  <div class="mainText">
    Accelerate Your Roadmap With Our Vetted <br />Nearshore Tech Talent.
  </div>
  <div class="secondaryText">
    Access 4,000+ timezone aligned software engineers<br />
    with experience in 100+ technologies.
  </div>
  <button mat-button class="call-shedule">Shedule a call</button>
</div>
